In [1]:
import os
import json
import pandas as pd

In [4]:
if os.path.exists(f'result.json'):
    with open(f'result.json', 'r') as f:
        current_list = json.load(f)

In [8]:
data_dict = {}

for idx in current_list.values():
    if 'error' not in idx.keys():
        idx['error'] = ""
    for key in idx.keys():
        if key not in data_dict.keys():
            data_dict[key] = []
            
        data_dict[key].append(idx[key])

In [12]:
dataframe = pd.DataFrame(data_dict)
dataframe.to_excel('result.xlsx', index=False)

In [8]:
cur_df = pd.read_excel('result.xlsx')
new_res = ("https://vt.tiktok.com/ZSNvs1uv2/", -1, -1, -1, -1, 'error')
# cur_df.loc[cur_df['url'] == "https://vt.tiktok.com/ZSNvs1uv2/", new_res] = new_res

# new_res_dict = {}
# for idx,key in enumerate(cur_df.columns):
#     new_res_dict[key] = new_res[idx]

# cur_df.loc[cur_df['url'] == "https://vt.tiktok.com/ZSNvs1uv2/"] = new_res
cur_df.loc[cur_df['url'] == "https://vt.tiktok.com/ZSNvs1uv2/"]

                                  url  views  likes  shares  comments  error
971  https://vt.tiktok.com/ZSNvs1uv2/     -1     -1      -1        -1  error

In [9]:
cur_df.loc[cur_df['url'] == "https://vt.tiktok.com/ZSNvs1uv2/"] = new_res
cur_df.loc[cur_df['url'] == "https://vt.tiktok.com/ZSNvs1uv2/"]

                                  url  views  likes  shares  comments  error
971  https://vt.tiktok.com/ZSNvs1uv2/     -1     -1      -1        -1  error